.cart > div {
    position: absolute;
    background-color: white;
    color: black;
    right: -1000px;
    top: 0;
    height: 100vh;
    display: flex;
    padding: 10px;
    flex-direction: column;
    width: 35%;
    transition: right 600ms ease-in-out;
}

.cart > div.visible {
    right: 0;
}

.cart > span,
.cart > img {
    pointer-events: none;
}

.cart-items-container {
    overflow: auto;
    flex: 1;
}
